<div id="catalog">

    <h1>{{elementName}}</h1>

    <form class="form-horizontal" (ngSubmit)="search()" #catalogForm="ngForm">

        <div class="form-group">
            <label for="keywords" class="control-label col-sm-2">Enter keywords</label>
            <div class="col-sm-4">
                <input id="keywords" name="keywords" [(ngModel)]="keywords" class="form-control" type="keywords"/>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-default">Search</button>
            </div>

        </div>

    </form>


    <div *ngIf="!selectedBook">
        <div class="row">
            <book-list [books]="foundBooks" (onSelect)="selectBook($event)" *ngIf="foundBooks.length"></book-list>
        </div>

        <div class="row" *ngIf="searching">

            <div class="col-sm-2"></div>
            <div class="col-sm-6"><h6>{{searching}}</h6></div>

        </div>
        <div class="row" *ngIf="numberFoundBooks.length">

            <div class="col-sm-2"></div>
            <div class="col-sm-6"><h4>{{numberFoundBooks}}</h4></div>

        </div>


    </div>


</div>
