*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.js
*.map

.idea/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/*.iml

target/
/nb-configuration.xml
*.log
/client/node_modules

# Ignores compiled TypeScript files
**/client/app/**/*.map
**/client/app/**/*.js
/server/bookstore-server.iml
/server/nb-configuration.xml
/client/*.iml
/client/dist
