<div id="shopping-cart">

    <h1>{{elementName}}</h1>

    <div class="row" *ngIf="shoppingCart.items.length>0">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">

            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-1">ISBN</th>
                    <th class="col-sm-6">Title</th>
                    <th class="col-sm-1">Price</th>
                    <th class="col-sm-1">Quantity</th>
                    <th class="col-sm-1"></th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let item of shoppingCart.items">
                    <td  class="col-sm-1">{{item.book.isbn}}</td>
                    <td class="col-sm-6">{{item.book.title}}</td>
                    <td class="col-sm-1">{{item.book.price}}</td>
                    <td class="col-sm-1">
                        <input type="number" [(ngModel)]="item.quantity" (click)="handleQuantityChange(item)" maxlength="4"></td>
                    <td class="col-sm-1">
                        <button (click)="deleteBook(item)">delete</button>
                    </td>
                </tr>

                <tr>
                    <td  class="col-sm-1"><b>TOTAL</b></td>
                    <td class="col-sm-6"></td>
                    <td class="col-sm-1"><b>{{shoppingCart.totalPrize.toFixed(2)}}</b></td>
                    <td class="col-sm-1"></td>
                    <td class="col-sm-1"></td>
                </tr>

                </tbody>

            </table>
        </div>

    </div>

    <div class="row" *ngIf="shoppingCart.items.length===0">
        <div class="col-sm-2"></div>
        <div class="col-sm-4"><h4>Shopping cart is empty</h4></div>
    </div>
</div>