<h1>Place order</h1>

<div id="orderProcessing" *ngIf="!ordered">

    <div id="loginrequired" *ngIf="!userService.isloggedIn">
        <login></login>
    </div>

    <div id="addressUsed" *ngIf="userService.isloggedIn">
        <form *ngIf="isUserEditing" class="form-horizontal" (ngSubmit)="onSubmit()" #registationForm="ngForm">
            <user-edit [customer]="userService.customer"></user-edit>
            <button class="btn btn-primary" (click)="saveCustomer()">Save changes</button>
        </form>
        <div *ngIf="!isUserEditing" class="form-horizontal">
            <user-view [customer]="userService.customer"></user-view>
            <button class="btn btn-primary" (click)="editCustomer()">Edit</button>
        </div>
    </div>

    <div id="shoppingCartState" *ngIf="userService.isloggedIn">
        <shopping-cart [isOrdering]="true">loading...</shopping-cart>
    </div>

    <div *ngIf="userService.isloggedIn">
        <button (click)="placeOrder()">Place order</button>
    </div>

</div>

<div id="ordered" *ngIf="ordered">
    <h1>thank you!</h1>
</div>