<div class="jumbotron text-center">
    <h1>Bookstore</h1>
</div>
<div>
    <nav class="navbar navbar-inverse">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li *ngIf="!userService.isloggedIn"><a routerLink="/login" routerLinkActive="active">Login</a></li>
                <li *ngIf="!userService.isloggedIn"><a routerLink="/registration" routerLinkActive="active">Registration</a></li>
                <li><a routerLink="/catalog" routerLinkActive="active">Catalog</a></li>
                <li><a routerLink="/shopping-cart" routerLinkActive="active">Shopping cart<span
                        *ngIf="shoppingCartService.getShoppingCart().items.length">({{shoppingCartService.getShoppingCart().items.length}})</span></a>
                </li>
                <li><a routerLink="/checkout" routerLinkActive="active">Checkout</a></li>
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>