<h1>Orders</h1>

<div id="orderProcessing" *ngIf="!ordered">

    <div id="loginrequired" *ngIf="!userService.isloggedIn">
        <login></login>
    </div>

    <div *ngIf="userService.isloggedIn">
        <label for="year" class="control-label col-sm-2">Order's year</label>
        <div class="col-sm-4">
            <input id="year" name="year" type="number" class="form-control" placeholder="year" min="{{minYear}}"
                 max="{{maxYear}}" [(ngModel)]="selectedYear" #year="ngModel" (click)="onClick()" required/>
        </div>
    </div>

    <div id="noorder" *ngIf="orders.length == 0 && userService.isloggedIn">
        No order to display
    </div>

    <div id="orders" *ngIf="orders.length > 0 && userService.isloggedIn">

        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th class="col-sm-1">Order #</th>
                <th class="col-sm-6">Date</th>
                <th class="col-sm-1">Amount</th>
                <th class="col-sm-1">Status</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let order of orders">
                <td class="col-sm-1">{{order.number}}</td>
                <td class="col-sm-6">{{order.date | date:"MM/dd/yy"}}</td>
                <td class="col-sm-1">{{order.amount | currency:'USD':true:'1.2-2'}}</td>
                <td class="col-sm-1">{{order.status}}</td>
                <td class="col-sm-1">
                    <button [disabled]="!isValid(order)" (click)="onCancel(order.number)" class="btn btn-default">
                        Cancel
                    </button>
                </td>
            </tr>

            </tbody>

        </table>

    </div>
</div>
