<h1>Place order</h1>

<div *ngIf="shoppingCartService.getShoppingCart().items.length>0">

    <div id="orderProcessing" *ngIf="!ordered">

        <div id="loginrequired" *ngIf="!userService.isloggedIn">
            <login></login>
        </div>

        <div id="addressUsed" *ngIf="userService.isloggedIn">
            <form *ngIf="isUserEditing" class="form-horizontal" (ngSubmit)="saveCustomer()" #registationForm="ngForm">
                <user-edit [customer]="userService.customer"></user-edit>
                <button class="btn btn-primary" type="submit">Save changes</button>
            </form>
            <div *ngIf="!isUserEditing" class="form-horizontal">
                <user-view [customer]="userService.customer"></user-view>
                <button class="btn btn-primary" (click)="editCustomer()">Edit</button>
            </div>
        </div>

        <div id="shoppingCartState" *ngIf="userService.isloggedIn">
            <shopping-cart [isOrdering]="true">loading...</shopping-cart>
        </div>

        <div *ngIf="userService.isloggedIn && shoppingCartService.getShoppingCart().items">
            <button (click)="order()" class="btn btn-default">Place order</button>
        </div>

    </div>

</div>

<div id="ordered" *ngIf="ordered">

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4"><h1>Thank you!</h1></div>
    </div>


    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6" style="border: 1px solid gray">
            <h4>Order summary</h4>

            <p>{{userService.customer.email}}<br>
                {{userService.customer.firstName}} {{userService.customer.lastName}}<br>
                {{userService.customer.address.street}}<br>
                {{userService.customer.address.postalCode}} {{userService.customer.address.city}}<br>
                {{userService.customer.address.state}} / {{userService.customer.address.country}}<br>
                <br>
            </p>

            <table class="table">
                <thead>
                <th>ISBN</th>
                <th>Title</th>
                <th>Unit price</th>
                <th>Quantity</th>
                </thead>
                <tbody>
                <tr *ngFor="let itm of orderedItems">
                    <td>{{itm.bookInfo.isbn}}</td>
                    <td>{{itm.bookInfo.title}}</td>
                    <td>{{itm.bookInfo.price | currency:'USD':true:'1.2-2'}}</td>
                    <td>{{itm.quantity}}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>


    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4"><h4>You can review your order in</h4> <a routerLink="/orders"
                                                                       routerLinkActive="active"><h4>My Orders</h4>
        </a></div>
    </div>

</div>


<div *ngIf="shoppingCartService.getShoppingCart().items.length===0 && !ordered">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4"><h4>Your shopping cart is empty</h4></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4"><a routerLink="/catalog" routerLinkActive="active"><h4>Please browse our
            sortiment</h4></a></div>
    </div>
</div>
