<div id="booklist">
    <br>
    <h1>{{elementName}}</h1>

    <div class="row">

        <div class="col-sm-2"></div>

        <div class="col-sm-10">
            <table id="pagedTable" class="table table-striped">
                <thead>
                <tr>
                    <th class="col-sm-1">ISBN</th>
                    <th class="col-sm-6">Title</th>
                    <th class="col-sm-1">Price</th>
                    <th class="col-sm-2"></th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let book of pagedBooks">
                    <td class="col-sm-1" (click)="select(book)">{{book.isbn}}</td>
                    <td class="col-sm-6" (click)="select(book)">{{book.title}}</td>
                    <td class="col-sm-1" (click)="select(book)">{{book.price}}</td>
                    <td class="col-sm-2">
                        <button (click)="addBookToCart(book)">add to cart</button>
                    </td>
                </tr>

                </tbody>

            </table>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-2"></div>

        <div class="row">

            <button (click)="previousPage()" *ngIf="pager.hasPrevious">{{previous}}</button>

            <button disabled *ngIf="!pager.hasPrevious">{{previous}}</button>

            <button (click)="nextPage()" *ngIf="pager.hasNext">{{next}}</button>

            <button disabled *ngIf="!pager.hasNext">{{next}}</button>

        </div>

    </div>

</div>