<div id="booklist">
    <br>
    <h1>{{elementName}}</h1>


    <div>

        <table class="table">
            <thead>
            <tr>
                <th class="col-md-1">ISBN</th>
                <th class="col-md-4">Title</th>
                <th class="col-md-1">Price</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let book of books" >
                <td class="col-md-1" (click)="select(book)">{{book.isbn}}</td>
                <td class="col-md-4" (click)="select(book)">{{book.title}}</td>
                <td class="col-md-1" (click)="select(book)">{{book.price}}</td>
                <td><button (click)="addBookToCart(book)">add to cart</button></td>
            </tr>

            </tbody>

        </table>

    </div>
</div>