<h1>Login</h1>

<form class="form-horizontal" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
        <label for="email" class="control-label col-sm-2">Email</label>
        <div class="col-sm-4">
            <input id="email" name="email" class="form-control" type="email" maxlength="255" required #email/>
        </div>
        <div *ngIf="email.errors && (email.dirty || email.touched)">
            <div [hidden]="!email.errors.required">Email is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="control-label col-sm-2">Password</label>
        <div class="col-sm-4">
            <input id="password" name="password" class="form-control" type="password" maxlength="255" required #password/>
        </div>
        <div *ngIf="password.errors && (password.dirty || password.touched)">
            <div [hidden]="!password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">Login</button>
        </div>
    </div>
</form>