<h1>Registration</h1>

<table class="table">
    <tbody>
    <tr>
        <td><label for="email">Email</label></td>
        <td><input id="email" class="form-control" type="email" [(ngModel)]="registration.customer.email"></td>
    </tr>
    <tr>
        <td><label for="password">Password</label></td>
        <td><input id="password" class="form-control" type="password" [(ngModel)]="password"></td>
    </tr>
    <tr>
        <td><label for="repeatPassword">Repeat assword</label></td>
        <td><input id="repeatPassword" class="form-control" type="password" [(ngModel)]="repeatPassword"></td>
    </tr>
    </tbody>
</table>

<user-edit [customer]="registration.customer"></user-edit>