<h1>Orders</h1>

<div id="orderProcessing" *ngIf="!ordered">

    <div id="loginrequired" *ngIf="!userService.isloggedIn">
        <login></login>
    </div>

    <div id="noorder" *ngIf="orders.length == 0 && userService.isloggedIn">
        No order to display
    </div>

    <div id="orders" *ngIf="orders.length > 0 && userService.isloggedIn">

        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th class="col-sm-1">Order #</th>
                <th class="col-sm-6">Date</th>
                <th class="col-sm-1">Amount</th>
                <th class="col-sm-1">Status</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let order of orders">
                <td class="col-sm-1">{{order.number}}</td>
                <td class="col-sm-6">{{order.date | date:"MM/dd/yy"}}</td>
                <td class="col-sm-1">{{order.amount | currency:"CHF"}}</td>
                <td class="col-sm-1">{{order.status}}</td>
            </tr>

            </tbody>

        </table>

    </div>
</div>